@model ktra.Models.SINHVIEN
@{
    ViewBag.Title = "AddSV";
    Layout = "~/Views/Shared/default.cshtml";
}

<h2>Hien thi sinh vien duoc them</h2>
<div>@Html.DisplayNameFor(model => model.sid)</div>
<div>@Html.DisplayFor(model => model.sid)</div>
<div>@Html.DisplayNameFor(model => model.sname)</div>
<div>@Html.DisplayFor(model => model.sname)</div>
<div>@Html.DisplayNameFor(model => model.sage)</div>
<div>@Html.DisplayFor(model => model.sage)</div>
<div>@Html.DisplayNameFor(model => model.diem)</div>
<div>@Html.DisplayFor(model => model.diem)</div>

